<footer class="footer">
    <div class="footer__inner">
        <div class="container">
            <div class="footer__top">
                <a href="tel:+7(777) 123 45 67" class="footer__top-tel">+7(777) 123 45 67</a>
                <a href="#" class="footer__top-logo"><img src="../images/logo-footer.svg" alt=""></a>
                <a href="#" class="footer__top-address">​Отдел продаж: Абиша Кекилбайулы, 34</a>
            </div>
            <nav class="footer__nav">
                <a href="#" class="footer__nav-item">О проекте</a>
                <a href="#" class="footer__nav-item">Расположение</a>
                <a href="#" class="footer__nav-item">инфраструктура</a>
                <a href="#" class="footer__nav-item">Материалы</a>
                <a href="#" class="footer__nav-item">Галерея</a>
                <a href="#" class="footer__nav-item">Ход строительства</a>
            </nav>
            <hr>
            <div class="footer__bot">
                <ul class="footer__bot-socials">
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">facebook</a></li>
                </ul>
                <img src="../images/developer.svg" alt="" class="footer__bot-logo">
                <a href="#" class="footer__bot-kaizen">Маркетинг: Kaizen</a>
            </div>

        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="footer__copyright-inner">


                <p class="footer__copyright-text">
                    Представленные фотографии и 3D-иллюстрации, описание проекта и применяемых материалов, планировочных
                    решений квартир, инфраструктура и благоустройство комплекса являются примером организации жилого
                    пространства и могут быть изменены в ходе строительства и эксплуатации.
                </p>
                <span class="footer__copyright-politics">Политика конфиденциальности</span>
            </div>
        </div>
    </div>
</footer>